{% extends "module.html.twig" %}
{% block moduleContent %}
        <form id="crud-form" method="post" action="#">
            <input type="hidden" name="id" value="{{ model.id }}" />
            
            {% if flash['success'] %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <i class="fa-regular fa-circle-check me-2"></i>
                <div>
                    {{ flash['success'] }}
                </div>
            </div>
            {% endif %}
            
            {% if flash['error'] %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="fa-solid fa-triangle-exclamation me-2"></i>
                <div>
                    {{ flash['error'] }}
                </div>
            </div>
            {% endif %}
            
            {% block formContent %}
            {% endblock %}
            <div class="buttons">
                <span class="btns">
                    <button type="submit"
                            class="btn btn-lg btn-primary">
                        <i class="fa-regular fa-floppy-disk"></i>
                        {% trans %}Salvar{% endtrans %}
                    </button>
                    <a href="{{ baseUrl() }}/modules/{{ module.chave }}"
                            class="btn btn-lg btn-outline-secondary">
                        <i class="fa-regular fa-circle-left"></i>
                        {% trans %}Voltar{% endtrans %}
                    </a>
                </span>
                {% if model.id > 0 %}
                <button id="btn-delete"
                        class="btn btn-lg btn-outline-danger"
                        onclick="SGA.Form.confirm('{% trans %}Realmente deseja excluir?{% endtrans %}', function() { $('#form-delete').submit() }); return false;">
                    <i class="fa-regular fa-trash-can"></i>
                    {% trans %}Excluir{% endtrans %}
                </button>
                {% endif %}
            </div>
        </form>
    {% if model.id > 0 %}
    <form id="form-delete" action="{{ baseUrl() }}/modules/{{ module.chave }}/delete/{{ model.id }}" method="post">
    </form>
    {% endif %}
    {% block dialogs %}
    {% endblock %}
    <script type="text/javascript">
        SGA.Form.labels.required = '{% trans %}Campo obrigatório{% endtrans %}';
        SGA.Form.validate('crud-form');
    </script>
    
{% endblock %}