{% extends "module.html.twig" %}
{% block moduleContent %}
<div class="m-3">
    <form method="get" action="{{ baseUrl() }}/modules/{{ module.chave }}" class="form-inline" role="search">
    <div class="input-group mb-3">
        <input 
            type="search" 
            class="form-control" 
            placeholder="{% trans %}buscar{% endtrans %}"
            aria-label="Recipient's username" 
            aria-describedby="button-addon2"
            id="search-box"
            name="s"
            value="{{ search }}"
        >
        <script type="text/javascript">SGA.Form.searchBox("search-box")</script>
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i> {% trans %}Buscar{% endtrans %}</button>
        <a href="{{ baseUrl() }}/modules/{{ module.chave }}/edit" class="btn btn-primary" id="button-addon2"><i class="fa-solid fa-user-plus"></i> {% trans %}Novo{% endtrans %}</a>
    </div>
    </form>
</div>

{% if flash['success'] %}
<div class="alert alert-success">
    {{ flash['success'] }}
</div>
{% endif %}

{% if flash['error'] %}
<div class="alert alert-danger">
    {{ flash['error'] }}
</div>
{% endif %}
<div class="card m-3">
        <table class="table table-responsive table-hover table-responsive text-center">
            <thead>
                <tr>
                    <th>#</th>
                    {% block thead %}
                    {% endblock %}
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    {% block tbody %}
                    {% endblock %}
                    <td class="buttons">
                        <a href="{{ module.chave }}/edit/{{ item.id }}" class="btn btn-sm btn-secondary" title="{% trans %}Editar{% endtrans %}">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                        <button class="btn btn-sm btn-danger" title="{% trans %}Excluir{% endtrans %}"
                                onclick="SGA.Form.confirm('{% trans %}Realmente deseja excluir?{% endtrans %}', function() { $('#delete-form').prop('action', '{{ baseUrl() }}/modules/{{ module.chave }}/delete/{{ item.id }}').submit(); })">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
    

<form id="delete-form" action="" method="post">
</form>
{% if pages > 1 %}
<div class="crud-pagination">
    <ul class="pagination">
        <li {% if page == 0 %}class="disabled"{% endif %}>
            <a href="?p=0">&laquo;</a>
        </li>
        {% for i in range(1, pages) %}
        <li {% if i - 1 == page %}class="active"{% endif %}>
            <a href="?p={{ i - 1 }}">{{ i }}</a>
        </li>
        {% endfor %}
        <li {% if page == pages -1 %}class="disabled"{% endif %}>
            <a href="?p={{ pages - 1}}">&raquo;</a>
        </li>
    </ul>
</div>
{% endif %}
{% endblock %}