{% extends "main.html.twig" %}
{% block content %}
<div id="home">
    <div class="welcome">
        <h1>{% trans %}Bem-vindo, {{ usuario }}{% endtrans %}</h1>
        <p>{% trans %}Sistema de gerencimaneto de senhas Sicoob Aracoop{% endtrans %}</p>
    </div>
    <div id="modules">
        <div id="modules-search">
            <input id="search-input" type="text" placeholder="{% trans %}buscar{% endtrans %}" onkeyup="SGA.Home.filter()" class="form-control" />
            <script type="text/javascript"> document.getElementById('search-input').focus() </script>
        </div>
        <div class="list">
            {% if unidade and modulosUnidade %}
                {% for modulo in modulosUnidade %}
                    <div class="card my-2">
                        <div class="card-body">
                            <a href="{{ baseUrl() }}/modules/{{ modulo.chave }}">
                                <img src="{{ resources('images/icon.png', modulo.chave) }}" />
                                <span class="name">{{ modulo.nome }}</span>
                                <p>{{modulo.descricao}}</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if modulosGlobal %}
        
                {% for modulo in modulosGlobal %}
                <div class="card my-2">
                    <div class="card-body">
                        <a href="{{ baseUrl() }}/modules/{{ modulo.chave }}">
                            <img src="{{ resources('images/icon.png', modulo.chave) }}" />
                            <span class="name">{{ modulo.nome }}</span>
                            <p>{{modulo.descricao}}</p>
                        </a>
                    </div>
                </div>  
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}