{% use 'blocks.html.twig' %}

<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <title>{% if module %}{{ module.nome }} | {% endif %}Novo SGA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="{{ baseUrl() }}/images/favicon.png" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/css/style.css?v={{ version }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" integrity="sha256-sWZjHQiY9fvheUAOoxrszw9Wphl3zqfVaz1kZKEvot8=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!--[if lt IE 9]>
        <script src="{{ baseUrl() }}/js/html5shiv.js"></script>
        <script src="{{ baseUrl() }}/js/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{{ baseUrl() }}/js/jquery.js?v={{ version }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ baseUrl() }}/js/script.js?v={{ version }}"></script>
        <script type="text/javascript"> 
            SGA.baseUrl = '{{ baseUrl() }}'; 
            SGA.version = '{{ version }}';
            SGA.dialogs.error.title = '{% trans %}Erro{% endtrans %}';
            SGA.dateFormat = '{% trans %}d/m/Y{% endtrans %}';
            SGA.invalidSession = '{% trans %}Sessão Inválida. Possivelmente o seu usuário está sendo utilizado em outra máquina.{% endtrans %}';
            SGA.inactiveSession = '{% trans %}Sessão expirada. Favor efetuar o login novamente.{% endtrans %}';
        </script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js" integrity="sha256-t0FDfwj/WoMHIBbmFfuOtZv1wtA977QCfsFR3p1K4No=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" integrity="sha512-2bMhOkE/ACz21dJT8zBOMgMecNxx0d37NND803ExktKiKdSzdwn+L7i9fdccw/3V06gM/DBWKbYmQvKMdAA9Nw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {{ block('head') }}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-sga" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ baseUrl() }}"></a>
                <div class="collapse navbar-collapse novosga-navbar">
                    {% if unidade %}
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ unidade }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for modulo in modulosUnidade %}
                                <li><a class="dropdown-item" href="{{ baseUrl() }}/modules/{{ modulo.chave }}">{{ modulo.nome }}</a></li>
                                {% endfor %}
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" data-bs-target="#dialog-unidade" data-bs-toggle="modal">
                                        {% trans %}Trocar unidade{% endtrans %}
                                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a href="#dialog-unidade" role="button" data-bs-toggle="modal" aria-expanded="false">{% trans %}Escolher unidade{% endtrans %}</a>
                        </li>
                    </ul>
                    {% endif %}
                    {% if modulosGlobal|length %}
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans %}Global{% endtrans %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for modulo in modulosGlobal %}
                                <li><a class="dropdown-item" href="{{ baseUrl() }}/modules/{{ modulo.chave }}">{{ modulo.nome }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ usuario.nome }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ baseUrl() }}/profile"><span class="glyphicon glyphicon-user"></span> {% trans %}Perfil{% endtrans %}</a></li>
                                <li><a class="dropdown-item" href="{{ baseUrl() }}/logout"><span class="glyphicon glyphicon-off"></span> {% trans %}Sair{% endtrans %}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            <span>SGS v{{ version }}</span>
            <span>{{uti | escape }} </span>
        </div>
        <div id="dialog-unidade" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans %}Unidade{% endtrans %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label>{% trans %}Favor escolher a unidade{% endtrans %}</label>
                            <select id="unidade" class="form-control">
                                <option value="">{% trans %}Selecione{% endtrans %}</option>
                                {% for item in unidades %}
                                <option value="{{ item.id }}" {% if item.id == unidade.id %}selected="selected"{% endif %}>{{ item.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="SGA.Unidades.set()">{% trans %}Enviar{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
        {% if not unidade and not modulo %}
        <script type="text/javascript"> SGA.Unidades.show(); </script>
        {% endif %}
        <span id="ajax-loading" class="mini-loading" style="display:none"></span>
    </body>
</html>