{% extends "module.html.twig" %}
{% block moduleContent %}

    <div id="dialog-local" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans %}Alterar Ghichê{% endtrans %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="local_form" action="#" method="post" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{% trans %}Número{% endtrans %}</label>
                                    <input type="text" id="numero_local" name="local" maxlength="3" class="form-control config-numero-local" value="{{ local }}" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" title="{% trans %}Tipo de Atendimento{% endtrans %}">{% trans %}Atendimento{% endtrans %}</label>
                                    <select id="tipo_atendimento" name="tipo" class="form-control config-tipo-atendimento">
                                        {% for v,l in tiposAtendimento %}
                                        <option value="{{ v }}" {% if tipoAtendimento == v %}selected="selected"{% endif %}>{{ l }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">
                        $('#local_form').on('submit', function() {
                            var numero = parseInt($('#numero_local').val());
                            if (isNaN(numero) || numero <= 0) {
                                $('#numero_local').val('');
                            } else {
                                SGA.ajax({
                                    url: '{{ baseUrl() }}/modules/{{ module.chave }}/set_local',
                                    type: 'post',
                                    data: $(this).serialize(),
                                    success: function(response) {
                                        window.location.reload();
                                    }
                                });
                            }
                            return false;
                        });
                    </script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="$('#local_form').submit(); return false">{% trans %}Salvar{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
    {# se ainda nao definiu o numero do local, exibe automaticamente a dialog #}
    {% if local <= 0 %}
    <div class="row p-2">
        <button type="submit" class="btn btn-success" onclick="return SGA.dialogs.modal('#dialog-local')">Informar Guichê</button>
    </div>
        {# <script type="text/javascript">
            $('#local').focus();
            $('#dialog-local').modal('show')
        </script> #}
    {% else %}
        {# local definido, exibe tela de atendimento #}
        <div id="atendimento">
            <div class="card">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <div id="local">
                            <span class="label-local">{% trans %}Guichê{% endtrans %}</span>
                            <span class="numero config-numero-local">{{ local }}</span>
                            <a type="button" data-bs-target="#dialog-local" data-bs-toggle="modal">{% trans %}Alterar{% endtrans %}</a>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-10">
                        <div id="controls">
                            <div id="chamar" class="control">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-control-chamar chamar"
                                                onclick="SGA.Atendimento.chamar(this)"
                                                title="{% trans %}Chamar próximo{% endtrans %}"
                                                disabled="disabled"
                                                id="sga-block"
                                                >
                                                <i class="fa-solid fa-bullhorn fa-2xl"></i>
                                                {% trans %}Chamar próximo{% endtrans %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="iniciar" class="control" style="display:none">
                                <div class="senha">
                                    <h3 class="title">{% trans %}Atendimento{% endtrans %}</h3>
                                    <div class="info {% if atendimento and atendimento.senha.isPrioridade %}prioridade{% endif %}">
                                        <div class="numero">
                                            <span class="atend-label">{% trans %}Senha|Bilhete{% endtrans %}</span>
                                            <span class="atend-value">{{ atendimento.senha }}</span>
                                        </div>
                                        <div class="servico">
                                            <span class="atend-label">{% trans %}Serviço{% endtrans %}</span>
                                            <span class="atend-value">{{ atendimento.servicoUnidade.servico.nome }}</span>
                                        </div>
                                        <div class="nome-prioridade">
                                            <span class="atend-label">{% trans %}Prioridade{% endtrans %}</span>
                                            <span class="atend-value">{{ atendimento.senha.prioridade.nome }}</span>
                                        </div>
                                        <div class="nome">
                                            <span class="atend-label">{% trans %}Nome{% endtrans %}</span>
                                            <span class="atend-value">
                                                {% if atendimento.cliente.nome %}
                                                    {{ atendimento.cliente.nome }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-md-4 col-lg-4">
                                        <button class="btn btn-control btn-control-success chamar_novamente"
                                                onclick="SGA.Atendimento.chamar_novamente(this)"
                                                title="{% trans %}Chamar novamente{% endtrans %}">
                                                <i class="fa-solid fa-bullhorn fa-xl"></i>
                                            {% trans %}Chamar novamente{% endtrans %}
                                        </button>
                                    </div>
                                    <div class="col-xs-4 col-md-4 col-lg-4">
                                        <button class="btn btn-control btn-control-iniciar iniciar"
                                                onclick="SGA.Atendimento.iniciar(this)"
                                                title="{% trans %}Iniciar atendimento{% endtrans %}">
                                                <i class="fa-regular fa-circle-play fa-xl"></i>
                                            {% trans %}Iniciar atendimento{% endtrans %}
                                        </button>
                                    </div>
                                    <div class="col-xs-4 col-md-4 col-lg-4">
                                        <button class="btn btn-control btn-control-nao-compareceu nao_compareceu"
                                                onclick="SGA.Atendimento.nao_compareceu(this)"
                                                title="{% trans %}Não compareceu{% endtrans %}">
                                                <i class="fa-solid fa-ban fa-xl"></i>
                                            {% trans %}Não compareceu{% endtrans %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="encerrar" class="control" style="display:none">
                                <div class="senha">
                                    <div class="d-flex flex-row justify-content-between mx-3">
                                        <h3 class="title">{% trans %}Atendimento em andamento {% endtrans %} </h3> 
                                        <div class="mb-2">
                                            <span class="badge badge-success inicio " id="dataChegada">
                                            Emissão da senha: {{atendimento.dataChegada |date('d-m-Y H:i:s')}}
                                            </span>
                                            <span class="badge badge-secondary inicio" id="dataInicio">
                                            Início Atendimento: {{atendimento.dataInicio |date('d-m-Y H:i:s')}}
                                            </span>
                                        </div>
                                    </div>                                    
                                    <div class="info {% if atendimento and atendimento.senha.isPrioridade %}prioridade{% endif %}">
                                        <div class="numero">
                                            <span class="atend-label">{% trans %}Senha|Bilhete{% endtrans %}</span>
                                            <span class="atend-value">{{ atendimento.senha }}</span>
                                        </div>
                                        <div class="servico">
                                            <span class="atend-label">{% trans %}Serviço{% endtrans %}</span>
                                            <span class="atend-value">{{ atendimento.servicoUnidade.servico.nome }}</span>
                                        </div>
                                        <div class="nome-prioridade">
                                            <span class="atend-label">{% trans %}Prioridade{% endtrans %}</span>
                                            <span class="atend-value">{{ atendimento.senha.prioridade.nome }}</span>
                                        </div>
                                        <div class="nome">
                                            <span class="atend-label">{% trans %}Nome{% endtrans %}</span>
                                            <span class="atend-value">
                                                {% if atendimento.cliente.nome %}
                                                    {{ atendimento.cliente.nome }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-md-4 col-lg-4">
                                        <button class="btn btn-control btn-control-success chamar_novamente"
                                                onclick="SGA.Atendimento.chamar_novamente(this)"
                                                title="{% trans %}Chamar novamente{% endtrans %}">
                                                <i class="fa-solid fa-bullhorn fa-xl"></i>
                                            {% trans %}Chamar novamente{% endtrans %}
                                        </button>
                                    </div>
                                    <div class="col-xs-4 col-md-4 col-lg-4">
                                        <button class="btn btn-control btn-control-encerrar encerrar"
                                                onclick="SGA.Atendimento.encerrar(this)"
                                                title="{% trans %}Encerrar atendimento{% endtrans %}">
                                                <i class="fa-regular fa-circle-check fa-xl"></i>
                                            {% trans %}Encerrar atendimento{% endtrans %}
                                        </button>
                                    </div>
                                    <div class="col-xs-4 col-md-4 col-lg-4">
                                        <button class="btn btn-control btn-control-erro erro_triagem"
                                                onclick="SGA.Atendimento.erro_triagem(this)"
                                                title="{% trans %}Erro de triagem{% endtrans %}">
                                                <i class="fa-solid fa-bomb fa-xl"></i>
                                           {% trans %}Erro de triagem{% endtrans %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="codificar" class="control" style="display:none">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-lg-6">
                                        <h3>{% trans %}Serviços disponíveis{% endtrans %}</h3>
                                        <ul id="macro-servicos" class="items">
                                            {% for su in servicos %}
                                                <li class="servico" id="servico-{{ su.servico.id }}">
                                                    {% if su.servico.subServicos|length == 0 %}
                                                        <a href="javascript:void(0)"
                                                        onclick="SGA.Atendimento.addServico(this)"
                                                        data-id="{{ su.servico.id }}"
                                                        title="{% trans %}Adicionar{% endtrans %}">
                                                            {{ su.servico.nome }}
                                                        </a>
                                                    {% else %}
                                                        <p>{{ su.servico.nome }}</p>
                                                        <ul>
                                                        {% for sub in su.servico.subServicos %}
                                                            <li class="subservico" id="servico-{{ sub.id }}">
                                                                <a href="javascript:void(0)"
                                                                onclick="SGA.Atendimento.addServico(this)"
                                                                data-id="{{ sub.id }}"
                                                                title="{% trans %}Adicionar{% endtrans %}">
                                                                    {{ sub.nome }}
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-lg-6">
                                        <h3>{% trans %}Serviços realizados{% endtrans %}</h3>
                                        <ul id="servicos-realizados" class="items">
                                        </ul>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-xs-12 col-md-12 col-lg-12">
                                        <div class="redirecionar">
                                            <input id="encerrar-redirecionar" type="checkbox" value="1" />
                                            <label for="encerrar-redirecionar"
                                                title="{% trans %}Marque para codificar e redirecionar o atendimento atual{% endtrans %}">
                                                <span>{% trans %}Redirecionar atendimento ao encerrar {% endtrans %}</span>
                                            </label>
                                        </div>
                                        <button class="btn btn-control btn-control-success codificar"
                                                onclick="SGA.Atendimento.codificar(this)"
                                                title="{% trans %}Encerrar atendimento{% endtrans %}">
                                            <span>{% trans %}Encerrar atendimento{% endtrans %}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fila">
                <div class="card-header">
                    <h4><img src="{{ resources('images/fila.png', module.chave) }}" alt="fila" width="20"> {% trans %}Minha fila{% endtrans %} (<span class="tipo-{{ usuario.tipoAtendimento }} config-tipo-atendimento">{{ tiposAtendimento[tipoAtendimento] }}</span>):</h4>
                </div>
                <div class="card-body">
                    <div id="lista-fila"></div>
                </div>
            </div>
        </div>
        <div class="links">
            <a type="button" data-bs-target="#dialog-busca" class="btn btn-primary btn-lg" data-bs-toggle="modal">
                <i class="fa-solid fa-magnifying-glass"></i>
                {% trans %}Consultar senha{% endtrans %}
            </a>
            <button id="notification" type="button" class="btn btn-success btn-lg" onclick="SGA.Notification.request(this)" style="display: none">
                <i class="fa-regular fa-bell"></i>
                {% trans %}Habilitar notificação{% endtrans %}
            </button>
        </div>

        {# dialog redirecionar #}
        <div id="dialog-redirecionar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}Redirecionar{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="redirecionar_servico">{% trans %}Novo Serviço{% endtrans %}</label>
                            <select id="redirecionar_servico" class="form-control">
                                <option value="">{% trans %}Selecione{% endtrans %}</option>
                                {% for su in servicosIndisponiveis %}
                                <option value="{{ su.servico.id }}">{{ su.servico.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-redirecionar" onclick="SGA.Atendimento.redirecionar(this); return false;">
                            {% trans %}Redirecionar{% endtrans %}
                        </button>
                        <button type="button" class="btn btn-primary btn-codificar" onclick="SGA.Atendimento.codificar(this, true); return false;">
                            {% trans %}Codificar e redirecionar{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {# dialog busca #}
        <div id="dialog-busca" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans %}Buscar Senha{% endtrans %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" role="form" onsubmit="return false">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Buscar por uma senha" aria-label="Buscar por uma senha" aria-describedby="button-addon2" id="numero_busca" type="text" maxlength="5">
                            <button id="btn-consultar" class="btn btn-outline-primary" type="button" id="button-addon2" onclick="SGA.Atendimento.consultar()">Consultar</button>
                        </div>
                        </form>
                        <div class="result">
                            <table id="result_table" class="table">
                                <thead>
                                    <tr>
                                        <th>{% trans %}Número{% endtrans %}</th>
                                        <th>{% trans %}Serviço{% endtrans %}</th>
                                        <th>{% trans %}Data chegada{% endtrans %}</th>
                                        <th>{% trans %}Data início{% endtrans %}</th>
                                        <th>{% trans %}Data fim{% endtrans %}</th>
                                        <th>{% trans %}Triagem{% endtrans %}</th>
                                        <th>{% trans %}Atendente{% endtrans %}</th>
                                        <th>{% trans %}Situação{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# dialog info senha #}
        <div id="dialog-senha" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans %}Senha|Bilhete{% endtrans %}</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="field">
                            <h4>{% trans %}Número{% endtrans %}</h4>
                            <p class="numero"></p>
                        </div>
                        <div class="field">
                            <h4>{% trans %}Serviço{% endtrans %}</h4>
                            <p class="servico"></p>
                        </div>
                        <div class="field">
                            <h4>{% trans %}Prioridade{% endtrans %}</h4>
                            <p class="nome-prioridade"></p>
                        </div>
                        <div class="field">
                            <h4>{% trans %}Data de chegada{% endtrans %}</h4>
                            <p class="chegada"></p>
                        </div>
                        <div class="field">
                            <h4>{% trans %}Tempo de espera{% endtrans %}</h4>
                            <p class="espera"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-block btn-success" id="chamarSenhaInfo"><i class="fa-solid fa-bullhorn"></i> Chamar Senha</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="sga-clock" title="{% trans %}Data e hora no servidor{% endtrans %}"></div>

        {# som executado quando a fila deixa de estar fazia #}
        <audio id="alert" src="{{ resources('sounds/alert.wav', module.chave) }}" style="display:none"></audio>

        <script type="text/javascript">
            SGA.Clock.init("sga-clock", {{ time }});
            SGA.Atendimento.filaVazia = '{% trans %}Fila vazia{% endtrans %}';
            SGA.Atendimento.remover = '{% trans %}Remover{% endtrans %}';
            SGA.Atendimento.marcarErroTriagem = '{% trans %}Realmente deseja marcar como erro de triagem?{% endtrans %}';
            SGA.Atendimento.marcarNaoCompareceu = '{% trans %}Realmente deseja marcar como não compareceu?{% endtrans %}';
            SGA.Atendimento.nenhumServicoSelecionado = '{% trans %}Nenhum serviço selecionado{% endtrans %}';
            SGA.Atendimento.tiposAtendimento = {{ tiposAtendimento|json_encode()|raw }};
            SGA.Atendimento.init({% if atendimento %}{{ atendimento.status }}{% else %}1{% endif %});
        </script>
    {% endif %}
{% endblock %}